@font-face {
  font-family: 'D2Coding';
  src:
    url('@/assets/fonts/D2Coding.woff') format('woff'),
    url('@/assets/fonts/D2Coding.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-variant-ligatures: none;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-variant-ligatures: none;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-variant-ligatures: none;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-variant-ligatures: none;
}

.body {
  font-family: 'JetBrains Mono', 'D2Coding', monospace !important;
}


.bold-font {
  font-family: 'JetBrains Mono', 'D2Coding', monospace !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.italic-font {
  font-family: 'JetBrains Mono', 'D2Coding', monospace !important;
  font-weight: 400 !important;
  font-style: italic !important;
}

.regular-font {
  font-family: 'JetBrains Mono', 'D2Coding', monospace !important;
  font-weight: 400 !important;
  font-style: normal !important;
}



