@font-face {
  font-family: 'D2Coding';
  src:
    url('@/assets/fonts/D2Coding.woff') format('woff'),
    url('@/assets/fonts/D2Coding.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-variant-ligatures: none;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-variant-ligatures: none;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-variant-ligatures: none;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-variant-ligatures: none;
}

.d2coding {
  font-family: 'D2Coding', monospace;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-regular {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-italic {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.jetbrains-mono-bold {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.body {
  font-family: 'JetBrains Mono', 'D2Coding', monospace !important;
}

.bold-font {
  font-family: 'JetBrains Mono', 'D2Coding', monospace !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.regular-font {
  font-family: 'JetBrains Mono', 'D2Coding', monospace !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.i-text-body-2 {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.425 !important;
  letter-spacing: 0.0178571429em !important;
}

.i-text-body-2 {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  line-height: 1.425 !important;
  letter-spacing: 0.0178571429em !important;
}
